@font-face {
  font-family: "Hershey-Futura-Triplex-Bold";
  src: url("../fonts/Hershey-Noailles-Futura-Triplex-Bold.otf");
}

@font-face {
  font-family: "Hershey-Times-Triplex-Regular";
  src: url("../fonts/Hershey-Noailles-Times-Triplex-Regular.otf");
}

@font-face {
  font-family: "Hershey-Times-Duplex-Italic";
  src: url("../fonts/Hershey-Noailles-Times-Duplex-Italic-Regular.otf");
}

@font-face {
  font-family: "Hershey-Futura-Simplex-Light";
  src: url("../fonts/Hershey-Noailles-Futura-Simplex-Light.otf");
}

* {
  box-sizing: border-box;

  /* situate this better in prod */
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-family: "Hershey-Times-Triplex-Regular";
  font-size: 16pt;
  overflow-x: hidden;
}

.art-academy {
  cursor: pointer;
  border: 1px solid black;
  padding: 0.2em 0.6em;
  margin-right: 0.2em;
  display: inline-block;
  white-space: wrap;
}

.art-academy input {
  display: none;
}

/* selected state */
.art-academy input:checked + span,
.art-academy input:checked {
  /* fallback */
}

.art-academy:has(input:checked) {
  background: black;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Hershey-Futura-Triplex-Bold";
}

i {
  font-family: "Hershey-Times-Duplex-Italic";
  font-style: normal;
}

.separate {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1em;
  background-color: white;
  border: 1px solid black;
}

.problem {
  display: inline-block;
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 1em;
  padding: 0 0.5em;
  line-height: 1.2em;
  margin-bottom: 0.25em;
}
