* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-family: "Hershey-Times-Triplex-Regular";
  font-size: 16pt;
  overflow-x: hidden;
}

select,
option {
  font-family: "Hershey-Times-Triplex-Regular";
  font-size: 0.8em;
}

select {
  background-color: lightgrey;
  border-radius: 0.25em;
}

option {
  background-color: white;
}

h1,
h2,
h3 {
  font-family: "Hershey-Futura-Triplex-Bold";
}

i {
  font-family: "Hershey-Times-Duplex-Italic";
  font-style: normal;
}

main {
  width: 50%;
}

.separate {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1em;
  background-color: white;
  border: 1px solid black;
}

.problem {
  display: inline-block;
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 1em;
  padding: 0 0.5em;
  line-height: 1.2em;
  margin-bottom: 0.25em;
}
